/= gmaps("map_options" => {"libraries" => ["places"], "zoom" => 13, "auto_zoom" => false, id: "map_home_page", "detect_location" => "false"}, "markers" => {"data" => @address.to_gmaps4rails})
/= gmaps("map_options" => {"zoom" => 13, "detect_location" => "true", "center_on_user" => "true", id: "map_home_page", raw:'{zoomControl: true, streetViewControl: false, mapTypeControl: false,}'}) #"auto_zoom" => false, id: "map_home_page"}, "markers" => {"data" => @address.to_gmaps4rails})
      

.row
  .col-lg-12
    %h1.text-center
      %span A great place to find goods

.row.container
  .col-lg-12
    .text-center

.row.container
  .col-lg-12
    %h3
      - if params[:location] || params[:query]
        Search results
        = "for #{params[:query]}" unless params[:query].blank?
        = "near #{params[:location]}" unless params[:location].blank?
      - else
        Some random items in your neighborhood
    .text-center.spinner{style:"display:none"}= image_tag "ajax-loader.gif"

- if current_user && (params[:query] || params[:location])
  .row.container
    .col-lg-6
    .col-lg-6.text-right
      #slider.medium
      #echo.medium
      = "Range in #{distance_units(false)}"

  .row.container
    .col-lg-12.results_category
      - Category.all.each do |category|
        = check_box_tag category.name.downcase, category.id, checked:true, class: "filter_results"
        = category.name

    
.row
  .col-lg-12
    = render partial:"items/items", locals:{items: @items}

= content_for :head do 
  :css
    @media screen and (min-width: 480px) { 
      #map_banner{
        display: block;
      }
    }

    #slider {
          float: left;
          width: 300px;
          margin: 4px 20px 0 0;
      }

      .medium {
          font-size: 14px;
      }
      
      .ui-slider-handle {
          outline: none;
      }

:coffee
  jQuery ->
    # This methods gets loaded at the start with varaibles from server. 
    # This allows some kind of location based on ip
    put_map = () ->
      # Create a custom position object to display map
      position = {
        latitude: "#{@address.latitude}"
        longitude: "#{@address.longitude}"
      }
      # Finally, display the map
      display_map(position)
      
    # First verions of map to be displayed based on 
    # ip or something we get from server
    put_map()
    
    #########################
    #content = '<div style="min-width: 150px; min-height: 30px;">Items around me</div>'
    #map = new my_app.map('map_banner') 
    #map.add_marker("#{@address.latitude}", "#{@address.longitude}", content)
    ##map.add_marker("#{12}", "#{@address.longitude}", "Sweet"); 
    #map.display_map()
