.row
  .col-lg-6
    %h1= "Profile of #{@user.email}"
.row
  .col-lg-6.col-lg-offset-6{style: "text-align: right"}
    = link_to "Edit profile", edit_profile_path(@user.profile), class: "btn btn-info" if can? :update, @user.profile

.row
  .col-lg-12
    = image_tag @user.image.url if @user.image

    %h4 Contact information
    First Name 
    \:
    = @user.profile.first_name || "No first name"
    %br
    Last Name 
    \:
    = @user.profile.last_name || "No last name"

    %hr.soften

.row
  .col-lg-12
    %h4 Prferences
    Units: 
    = distance_units

    %hr.soften
.row
  .col-lg-6
    %h4 Addresses

.row
  .col-lg-6
    - current_user.addresses.each do |address|
      .row
        .col-lg-6
          %address
            %strong= address.name
            %br
            =address.number_and_street
            %br
            = address.city
            %br
            = "#{address.state} #{address.zip_code}, #{address.country.name}"
        .col-lg-6
          = link_to "Edit", edit_address_path(address)
          \|
          = link_to "Delete", address_path(address), method: :delete, data: { confirm: 'Confirm please?' }
    /= render partial:"addresses/form"
    = link_to "Add Address", new_address_path, class: "btn btn-success"


  .col-lg-6
    = render partial:"layouts/map", locals:{places: @user.addresses} if @user == current_user


