.row
  .col-lg-12
    = nested_form_for @item, namespace: "standard", html:{class:"form-horizontal", role:"form"} do |f|
      .row
        - if @item.errors.any?
          .error_messages
            %h2 Form is invalid
            %ul
              - for message in @item.errors.full_messages
                %li= message

      .row
        .col-lg-6.col-lg-offset-3
          %legend Item Info
      .row
        .col-lg-12

          .field.form-group
            = f.label :name, nil, class:"col-lg-2 control-label col-lg-offset-3"
            .col-lg-4
              = f.text_field :name, class:"form-control", placeholder: "Name"

          .field.form-group
            = f.label :description, nil, class:"col-lg-2 control-label col-lg-offset-3"
            .col-lg-4
              = f.text_area :description, class:"form-control", placeholder: "Description"

          .field.form-group
            %legend.col-lg-6.col-lg-offset-3 Address
            #form_old_address{style:("display: none" if current_user.addresses.empty?)}
              = f.label :address_id, nil, class:"col-lg-2 control-label col-lg-offset-3"
              .col-lg-4#old_address
                = f.select :address_id, options_for_select(current_user.addresses.map{|x| [x.name, x.id]}), {}, class: "form-control"
                = link_to "New Address", "#", id: "new_address"

            #form_new_address{style:("display: none" unless current_user.addresses.empty?)}

              = f.fields_for :address do |address_form|
                .field.form-group
                  = address_form.label :name, nil, class: "col-lg-2 control-label col-lg-offset-3"
                  .col-lg-4
                    = address_form.text_field :name, placeholder: "Home", class:"form-control"
                .field.form-group
                  = address_form.label :number_and_street, "Number And Street",  class: "col-lg-2 control-label col-lg-offset-3"
                  .col-lg-4
                    = address_form.text_field :number_and_street, class:"form-control"

                .field.form-group
                  = address_form.label :city, nil,  class: "col-lg-2 control-label col-lg-offset-3"
                  .col-lg-4
                    = address_form.text_field :city, class: "form-control"

                .field.form-group
                  = address_form.label :state, nil,  class: "col-lg-2 control-label col-lg-offset-3"
                  .col-lg-4
                    = address_form.select :state, ["AL", "AK", "AS", "AZ", "AR", "CA", "CO", "CT", "DE", "DC", "FM", "FL", "GA", "GU", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MH", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "MP", "OH", "OK", "OR", "PW", "PA", "PR", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VI", "VA", "WA", "WV", "WI", "WY"], {}, class:"form-control"

                .field.form-group
                  = address_form.label :zip_code, class: "col-lg-2 control-label col-lg-offset-3"
                  .col-lg-4
                    = address_form.text_field :zip_code, class: "form-control"
                
                .field.form-group
                  = address_form.label :country_id, class: "col-lg-2 control-label col-lg-offset-3"
                  .col-lg-4
                    = address_form.collection_select(:country_id, Country.all, :id, :name, {}, {class: "form-control"})
  


          .field.form-group
            .col-lg-6.col-lg-offset-3
              %legend Categories
              - Category.all.each do |category|
                = check_box_tag "item[category_ids][]", category.id, @item.category_ids.include?(category.id)
                = category.name

        .col-lg-6.col-lg-offset-3
          %legend Pictures
          .item_picture_list
            - @item.images.each do |image|
              = image_tag image.url, class: "item_tile"

          .field.form-group
            = f.fields_for :images do |form|
              = f.label :url, "Add Picture", class:"col-lg-3 control-label"
              .col-lg-7
                = form.file_field :url, class:"form-control"
            = f.link_to_add "Add an image", :images

          .actions
            .col-lg-4.col-lg-offset-5
              = f.submit "Submit", class: "btn btn-success"
