.row.container
  .col-lg-12
    %h1 Items you have listed

- if @addresses.empty?
  .row.container
    .col-lg-6
      You have no items yet. 
      = link_to "start listing items now", new_item_path
.row.container
  .col-lg-4.col-lg-offset-2.col-xs-4.col-xs-offset-2
  = link_to "New Item", new_item_path, class: "btn btn-success"

.row.container
  .col-lg-12
    - @addresses.each do |address|
      %strong= address.name
      - address.items.each do |item|
        .row.container
          .col-lg-2.col-xs-2
            = item.name
          .col-lg-2.col-xs-2
            = link_to "View", item_path(item.id), class: "btn btn-primary"
          .col-lg-2.col-xs-2
            = link_to "Edit", edit_item_path(item.id), class: "btn btn-warning"
          .col-lg-2.col-xs-2
            = link_to "Delete", item_path(item.id), method: :delete, class: "btn btn-danger"
