.row
  .col-lg-12
    %h3 Item #{@item.name}

    = link_to "Edit", edit_item_path(@item) if can? :edit, @item
    %br

    = @item.description
    - @item.categories.each do |category|
      = category.name

    %br
    - @item.images.each do |image|
      = image_tag image.url

.row
  .col-lg-12
    = render partial:"layouts/map", locals:{places: [@item.address]}
