.row
  .col-lg-12
    %legend Item #{@item.name}

.row
  .col-lg-6
    = link_to "Edit", edit_item_path(@item), class:"btn btn-warning" if can? :edit, @item
    %br

    = @item.description
    - @item.categories.each do |category|
      = category.name

    %br
    - @item.images.each do |image|
      = image_tag image.url

  .col-lg-6
    = render partial:"layouts/map", locals:{places: [@item.address]}

.row
  .col-lg-6
    %h4 Data
    %strong Name:
    = @item.name
    %br
    %strong Description:
    = @item.description

  .col-lg-6
    %h4 Categories
    = @item.categories.map{|c| c.name}.join(", ")

.row
  .col-lg-6.col-lg-offset-3
    %h3 Comments
    = render partial: "comments/form", locals:{comment: @item.comments.build} if current_user
    %br
    = render partial: "comments/comments", locals:{comments: @item.comments}
