.row
  .col-lg-12
    %h1 
      Item #{@item.name}
      = link_to "Edit", edit_item_path(@item), class:"btn btn-warning" if can? :edit, @item

.row
  .col-lg-6
    .row
      .col-lg-6
        %h2 Name
        = @item.name
      .col-lg-6
        %h3 Location
        = ((@item.address.distance_to(@address)*distance_multiplier)+0.1).round(1)
        = distance_units 
        from you
    %h3 Description
    = @item.description
    %hr.soften
    %h4 Categories
    - @item.categories.each do |category|
      = @item.categories.map{|c| c.name}.join(", ")

    %br
    - @item.images.each do |image|
      = image_tag image.url

  .col-lg-6
    = render partial:"layouts/map", locals:{places: [@item.address]}


.row
  .col-lg-6.col-lg-offset-3
    %h3 Comments
    = render partial: "comments/form", locals:{comment: @item.comments.build} if current_user
    %br
    = render partial: "comments/comments", locals:{comments: @item.comments}
