.row
  %nav.navbar.navbar-inverse{role: "navigation", style:"margin-bottom: 0px"} 
    .container
      .navbar-header
        %button.navbar-toggle{type:"button", "data-toggle" => "collapse", "data-target" => ".navbar-ex1-collapse"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to "Nearbuy", root_path, class:"navbar-brand"
      .collapse.navbar-collapse.navbar-ex1-collapse
        %ul.nav.navbar-nav
          - if current_user
            %li= link_to "My Profile", user_path(current_user)
            %li= link_to "My Items", items_path
            %li= link_to "Post", "#"
            %li= link_to "Around Me", around_me_items_path

        %ul.nav.navbar-nav.navbar-right
          %li= link_to "About", about_path
          - if current_user
            %li= link_to "Logout #{current_user.email}", logout_path
          - else 
            %li= link_to "Login", "#login_modal", "data-toggle"=>"modal"


  %nav.navbar{role: "navigation"} 
    .container
      = form_tag search_items_path, class:"navbar-form form-inline", role: "search" do
        .form-group.col-lg-4
          = label_tag :query, nil, class:"sr-only"
          = text_field_tag :query, nil, placeholder:"What? (Hammer, Ladder, ...)", class: "form-control"
        .form-group.col-lg-4
          = label_tag :location, nil, class:"sr-only"
          = text_field_tag :location, nil, placeholder:"Where? (San Francisco, Brisbane, ...)", class: "form-control", id:"search_location_nav"
        .form-group
          = submit_tag "Go", class: "form-control btn btn-warning"

.row
  - if !current_user
    #login_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}/
    = render partial:"sessions/login"
