!!!
%html
  %head
    %title Nearbuy
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = yield :head
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %body
    = render partial:"layouts/nav"
    #map_banner
    .container
      .row
        .col-lg-12
          - unless flash[:notice].blank?
            .alert.alert-info.alert-dismissable
              %button{type:"button", class:"close", "data-dismiss" => "alert", "aria-hidden" => "true"} &times;
              = flash[:notice]
          - unless flash[:alert].blank?
            .alert.alert-danger.alert-dismissable 
              %button{type:"button", class:"close", "data-dismiss" => "alert", "aria-hidden" => "true"} &times;
              = flash[:alert] 

      .row
        .col-lg-12
          #map_banner
      .row
        = yield

    %hr.soften
    .row.footer
      .container
        %footer
          .col-lg-6.col-sm-6.col-xs-6
            &copy; 2013 - Nearbuy
          .col-lg-6.col-sm-6.col-xs-6
            .pull-right
              :plain
                <a href="mailto:&#119;&#097;&#104;&#108;&#055;&#055;+web&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">
                  Contact
                </a>                                         

    - if content_for?(:scripts)
      = yield :scripts
    - else 
      %script{type:"text/javascript", src:"http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"}


    - unless cookies[:position]
      :coffee
        jQuery -> 
          # Get user location
          find_user_geolocation()
